/* Container */
.container {
  max-width: 800px;
  margin: 0 auto;
}

/* Header */
.main {
  margin-top: 20px;
}

/* Ask question form */
.ask-question {
  margin-bottom: 20px;
}

/* Ask question text */
.ask-question h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Ask question form */
.ask-question form {
  display: flex;
  flex-direction: column;
}

/* Ask question input fields */
.ask-question input,
.ask-question textarea,
.ask-question select {
  margin-bottom: 10px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

/* Ask question input focus */
.ask-question input:focus,
.ask-question textarea:focus,
.ask-question select:focus {
  outline: none;
  border-color: #007bff; /* Highlight border on focus */
}

/* Ask question button */
.ask-question button {
  width: 100%;
  padding: 12px;
  background-color: #0056b3;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Ask question button hover */
.ask-question button:hover {
  background-color: #004080; /* Darker shade of blue on hover */
}

/* Questions */
.questions {
  margin-top: 30px;
}

/* Questions title */
.questions h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Question */
.question {
  position: relative;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

/* Question title */
.question h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Question paragraph */
.question p {
  margin-bottom: 15px;
}

/* Answers */
.answers {
  margin-top: 0px;
}

/* Answer form */
.answer-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

/* Answer textarea */
.answer-form textarea {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  transition: border-color 0.3s ease;
}

.answer-form textarea:focus {
  outline: none;
  border-color: #007bff; /* Highlight border on focus */
}

/* Answer button */
.answer-form button {
  width: 100%;
  padding: 12px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Question container */
.question-container {
  position: relative;
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

/* Content padding */
.answer-content {
  padding-right: 60px; /* Ensure there's space for the button */
}

/* Answer container */
.answer-container {
  position: relative;
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

/* Approval button */
.toggle-approval-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border-radius: 3px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* When approved */
.toggle-approval-button.approved {
  background-color: #28a745;
  color: #fff;
}

/* Rating CSS */
.rating-container {
  display: flex;
  align-items: center;
}

/* Rating name */
.rating-label {
  margin-right: 10px;
}

/* Rating select */
.rating-select {
  margin-right: 20px;
}

/* Rating button */
.rate-button {
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

/* Button rating hover */
.rate-button:hover {
  background-color: #0056b3;
}

/* Button rating disabled */
.rate-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Checkbox */
.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Checkbox title */
.checkbox-label {
  margin-left: 10px;
  font-size: 16px;
}

/* Checkbox input */
.checkbox-input {
  margin-right: 5px;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

/* Checkbox input checked */
.checkbox-input:checked {
  background-color: #4CAF50;
}

/* Checkbox input checked after */
.checkbox-input:checked::after {
  content: '\2714';
  font-size: 16px;
  color: white;
  display: block;
  text-align: center;
  line-height: 18px;
}

/* Search bar */
.search-bar {
  margin-bottom: 20px;
  display: flex;
  align-self: center;
}

/* Search text */
.search-bar input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

/* Search focus */
.search-bar input[type="text"]:focus {
  border-color: #007bff; /* Change border color on focus */
  outline: none;
}

/* Category style */
.category {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}
